<!-- Navigation Bar Component -->
<link href="/css/navbar.css" rel="stylesheet" />
<nav>
    <div class="left-nav">
        <a href="/">
            <h1>Chat App</h1>
        </a>
    </div>

    <div class="right-nav">
        <ul>
            <li><a class="links" href="/all-members">Browse All Members</a></li>
            <li><a class="links" href="/groups">Group Chat</a></li>
            <li><a class="links" href="/requests?user=<%=username%>">View Requests</a></li>
            <li class="links"><%= username %></li>
        </ul>
        <button class="logout" onclick="logout()">Logout</button>
    </div>
</nav> 