*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.membersContainer{
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}

.membersHeader{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.membersInput{
    display: flex;
    justify-content: center;
    padding: 10px;

}

.membersInput>input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    background-color: rgb(233, 235, 244);
}

.membersResult{
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.membersResultSingle{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 80%;
    align-items: center;
}



.membersResultSingleLeft{
    display: flex;
    align-items: center;
}

.membersIcon>img{
    width: 30px;
    margin-right: 10px;
}

.membersResultSingleRight>button{
    padding: 3px 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
}

.membersResultSingleRight>button:hover{
    background-color: black;
    color: white;
}


nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.left-nav{
  width: 20%;
  padding: 2px;
}

.right-nav{
  width: 60%;
  display: flex;
  justify-content: space-around;
}

ul{
  list-style: none;
  display: flex;
}


a{
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  color: white;
  padding: 5px;
  background-color: black;
}

a:hover{
  background-color: white;
  color: black;
}

li{
  margin-right: 10px;
}

.logout{
  padding: 3px 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
}

.logout:hover{
  background-color: black;
  color: white;
}
